@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root {
  font-family: 'Google Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: "Google Sans", sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  background: #f4f7f1;
  font-family: "Google Sans", sans-serif;
}

#root {
  width: 100%;
}
